*{
    font-family: 'Courier New', Courier, monospace;
    background-color: darkgrey;
    box-sizing: border-box;
}
/* Header always visible, always able to help the user navigate the page */
header{
    padding: 10px;
    position: fixed;
    text-align: center;
    display: flex;
    flex-direction: column;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: mediumslateblue;
    border-bottom: 3px solid lightcoral;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
    font-weight: bolder;
}

nav{
    text-align: right;
    display: flex;
}
/* The padding accounts for the size of the header */
main{
    padding: 360px 0;
}

aside{
    flex: 1 0 10%;
    float: left;
    left: 0px;
    border-right: 2px dashed black;
}

.side-header{
        text-align: right;
        display:block;
        font-size: 40px;
        color: springgreen;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
.self-portrait{
    float: right;
    width:250px;
    height:200px;
    filter: grayscale(50%);
}
/* hovering over my face makes detail appear. */
.self-portrait:hover{
    filter: none;
}

section{
    padding: 30px;
    margin: 10px;
    display: flex;
    width: 100%;
}

div{
    flex: 1 0 90%;
}

a {
    display: inline-block;
    margin-left: 25px;
    color: #5313c9;
    text-decoration: none;
    font-style: oblique;
}
/* these pseudo-classes change the navigation links when clicked on */
a:hover{
    color: pink;
}

a:active{
    color: black;
}

a:focus{
    color: blueviolet;
}

.work{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

figure{
    flex: 1 0 20%;
    border: 5px solid black;
    border-radius: 5px;
    max-width: 720px;
}
/* The picture changes to grayscale when the mouse hovers over it, signifying how it's a link */
.project-img img:hover{
    filter: grayscale(75%);
}

figcaption{
    font-size: 16px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

figcaption a{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

figure img{
    width: 700px;
    height: 400px;
    object-fit: scale-down;
}

#project1{
    flex: 1 0 100%;
    max-width: 1120px;
}
/* this overrides the figure img selector for the first image, making it bigger */
#project1 img{
    width: 1100px;
    height: 500px;
}

.contact{
    text-align: center;
}

.contact a{
    font-weight: bolder;
    text-decoration: underline;
}

h2{
    font-size: 30px;
    color: seagreen;
}

.tablet-header{
    display:none;
}


footer{
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: rgb(16, 90, 84);
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
/* This should take effect for tablet screens */
@media screen and (max-width: 768px) {
    main{
        padding: 400px 0;
    }

    img{
        max-width: 768px;
    }

    section,
    nav {
      flex-direction: column;
    }
    .tablet-header{
        display:flex;
    }
    aside{
        display:none;
    }
    div{
        flex-direction: column;
    }
    figure{
        flex: 0 1 100%;
        min-width: none;
        min-height: none;
    }
}
/* This should ensure compatibility for mobile phones */
@media screen and (max-width: 367px){
    img{
        max-width: 200px;
    }
}